<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InventoryBoxFarmacy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <InventoryBoxFarmacy.Properties.Settings>
            <setting name="PeriodoVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RolVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsuarioVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyColorSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultColor" serializeAs="String">
                <value />
            </setting>
            <setting name="TasaDeCambioVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TipoDeEntidadVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProveedoresVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContactoVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaboratorioVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TipoDeUbicacionVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UbicacionVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CategoriaVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlmacenVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeccionVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProductoPresentacionVentanaDespuesDeOperacion"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProductoUnidadDeMedidaVentanaDespuesDeOperacion"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProductoVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TipoDeSalidaVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
        </InventoryBoxFarmacy.Properties.Settings>
    </userSettings>
</configuration>